<!DOCTYPE html>

<html> 
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>About</title>
		<link rel="stylesheet" type="text/css" href="stylesheet.css">
		<link href="images/hockey%20logo%20black.png" rel="icon" type="image/png" /><!--small website icon logo -->
	</head>
	<body>
		<div class="header">
			<div class="navbar">
				<ul>
				<li><a href="home.html">Home</a></li>
				<li><a href="lifestyle.html">Lifestyle</a></li>
				<li><a href="spotlight.html">Spotlight</a></li>
				<li><a href="backstage.html">Backstage</a></li>
				<li><a href="contact.html">Contact</a></li>
				<li class="last"><a href="about.html">About</a></li>
			</ul>
			</div>
		</div>
		<div class="about">
			<table class="about_table">
				<tbody>
					<tr>
						<td class="top_about">
							<h3>Ralph</a></h3>
							<img class="about_pic" alt="" src="ralph%20about%20pic.jpg"/>
						</td>
						<td class="top_about">
							<h3>Christian</h3>
							<img class="about_pic" alt="" src="christian%20glasses%20about%20pic.jpg"/>
						</td>
						<td class="top_about">
							<h3>Ryan</h3>
							<img class="about_pic" alt="" src="ryan_about_pic.png"/>
						</td>
					</tr>
					<tr>
						<td class="bottom_about">
							<h3>Co-Founder</h3>
							<p>Northeastern University</p>
							<p>[Favorite meal]: Anything drenched in hot sauce</p>
							<p>[Daily style]: The Show x Ebbets Field Cap, Hoodie, Chinos, Slides</p>
							<p>[Movies]: Truman Show, Any Miyazaki film, Toy Story</p>
							<p>[Setup]: Apple Macbook Pro Retina 13"</p>
							<p>[Currently]: Web developer with <a href="http://www.northeastern.edu/smilelab/"
							target="_blank">SMILE LAB</a></p>
						</td>
						<td class="bottom_about">
							<h3>Co-Founder</h3>
							<p>Rutgers University</p>
							<p>[Favorite meal]: Breakfast foods 24/7</p>
							<p>[Daily style]: Fishing hat, Long sleeve tees, Black Jansport</p>
							<p>[Movies]: The Social Network, The Parent Trap, The Fast and The Furious</p>
							<p>[Setup]: Apple Macbook Air 11"</p>
							<p>[Currently]: Redesigning the website</p>
						</td>
						<td class="bottom_about">
							<h3>Web Developer</h3>
							<p>Stonehill College</p>
							<p>[Favorite meal]: Chicken parmesan</p>
							<p>[Daily style]: Short sleeve tees, Cords, Nike Dunks</p>
							<p>[Movies]: Saving Private Ryan, Big Hero 6, The Lego Movie</p>
							<p>[Setup]: Lenovo ThinkPad T430</p>
							<p>[Currently]: Helping with the website</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="FAQ">
			<h1>FAQ:</h1>

			<p class="question">What's The Show?</p>
			<p class="answer">A lifestyle; incorporating everything we think is important, remarkable,
			and inspiring. We're starting things slowly and hope to have a solid, self-sustaining 
			organization soon.</p>
			
			<p class="question">Where can I see your previous work?</p>
			<p class="answer">Our archiving skills need a little work, for now you can view a small
			collection of our work <a href="https://flic.kr/ps/31edBK">here on our flickr</a></p>
			
			<p class="question">How do I get some merchandise?</p>
			<p class="answer">Our products have only been made available
			to friends and family in the past. Don't fret though, we'll be sure to let you know when you
			can get your hands on some of our stuff.</p>
			
			<p class="question">What can we expect in the future?</p>
			<p class="answer">We plan to update it monthly with news, popular culture, trends, and
			our <a href="http://spotlight.html">spotlight</a> featured interest with interviews of
			ambitious people you'll wanna check out.</p>
			
			<p class="question">How do I get involved with The Show?</p>
			<p class="answer">We're interested in creative, committed individuals to join our design
			and development team. If you think you'd be a good fit, fill out an 
			<a href="http://goo.gl/forms/wYka2ndSRU">inquiry</a>.</p>
			
			<p class="question">How can I contact you?</p>
			<p class="answer">Please send all questions, comments and complaints to 
			<a href="mailto:theshowlifestyle@gmail.com">theshowlifestyle@gmail.com</a></p>
		</div>
		<div class="footer">
			<p>The Show Lifestyle (c) 2015</p>
		</div>
	</body>
</html>