<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>Backstage</title>
	<link href="stylesheet.css" rel="stylesheet" type="text/css" />
	<link href="images/hockey%20logo%20black.png" rel="icon" type="image/png" /><!--small website icon logo -->
</head>
<body>
<div class="header">
<div class="navbar">
<ul>
	<li><a href="home.html">Home</a></li>
	<li><a href="lifestyle.html">Lifestyle</a></li>
	<li><a href="spotlight.html">Spotlight</a></li>
	<li><a href="backstage.html">Backstage</a></li>
	<li><a href="contact.html">Contact</a></li>
	<li class="last"><a href="about.html">About</a></li>
</ul>
</div>
</div>

<div class="backstage">
<h2 class="update"><code>April 5<sup>th</sup>, 2015</code></h2>

<p>Happy Easter!</p>

<pre>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/ \
        / _ \
       | / \ |
       ||   || _______
       ||   || |\     \
       ||   || ||\     \
       ||   || || \    |
       ||   || ||  \__/
       ||   || ||   ||
        \\_/ \_/ \_//
       /   _     _   \
      /               \
      |    O     O    |
      |   \  ___  /   |
     /     \ \_/ /     \
    /  -----  |  --\    \
    |     \__/|\__/ \   |
    \       |_|_|       /
     \_____       _____/
           \     /
           |     |</pre>

<p></p>

<h2 class="update"><code>April 3<sup>rd</sup>, 2015</code></h2>

<p>After numerous application submissions from various programmers,&nbsp;Ryan was given the spot in our unpaid internship program.&nbsp;He went straight to work by&nbsp;organizing&nbsp;the code, and&nbsp;integrating a CSS stylesheet.&nbsp;Not much changed visually but the code is a lot cleaner now.&nbsp;</p>

<h2 class="update"><code>April 2<sup>nd</sup>, 2015</code></h2>

<p>Did some serious damage yesterday by having an interactive navi bar, interview with Seamus, and over all other details with the site. Looks pretty good but not done yet. Incorporated a FAQ and hope to think of some ideas for an eye-catching homepage.</p>

<h2 class="update"><code>April 1<sup>st</sup>, 2015</code></h2>

<p>The website is now updated with some raw html. We hope to lay out a good foundation to build upon later. This is a small step towards actually having a self-sustaining website. This is not a joke also, we&#39;re being serious this time.</p>
</div>

<div class="footer">
<p class="white_monospace">The Show Lifestyle&trade; 2015</p>
</div>
</body>
</html>