<!DOCTYPE html>

<html>
	<head> 
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>Contact Us</title>
		<link rel="stylesheet" type="text/css" href="stylesheet.css">
		<link href="images/hockey%20logo%20black.png" rel="icon" type="image/png" /><!--small website icon logo -->
	</head>
	<body>
		<div class="header">
			<div class="navbar">
				<ul>
				<li><a href="home.html">Home</a></li>
				<li><a href="lifestyle.html">Lifestyle</a></li>
				<li><a href="spotlight.html">Spotlight</a></li>
				<li><a href="backstage.html">Backstage</a></li>
				<li><a href="contact.html">Contact</a></li>
				<li class="last"><a href="about.html">About</a></li>
			</ul>
			</div>
		</div>
		<div class="main">
			<p>feel free to email any questions, comments or complaints to 
			<a href="mailto:theshowlifestyle@gmail.com">theshowlifestyle@gmail.com</a></p>
		</div>
		<div class="footer">
			<p>The Show Lifestyle (c) 2015</p>
		</div>
	</body>
</html>