<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>Lifestyle</title>
	<link href="stylesheet.css" rel="stylesheet" type="text/css" />
	<link href="images/hockey%20logo%20black.png" rel="icon" type="image/png" /><!--small website icon logo -->
</head>
<body>
<div class="header">
<div class="navbar">
<ul>
	<li><a href="home.html">Home</a></li>
	<li><a href="lifestyle.html">Lifestyle</a></li>
	<li><a href="spotlight.html">Spotlight</a></li>
	<li><a href="backstage.html">Backstage</a></li>
	<li><a href="contact.html">Contact</a></li>
	<li class="last"><a href="about.html">About</a></li>
</ul>
</div>
</div>

<div class="main">
<p>Here&#39;s the latest news, music, etc.</p>

<p>Next up.</p>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/199568328&amp;color=00cc11&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

<p> </p>
<a class="embedly-card" href="http://vineyardgazette.com/news/2015/04/02/land-meets-land-norton-point-breach-closes">Land Meets Land; Norton Point Breach Closes</a>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

<p>Feel Good.</p>

<iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/197586147&amp;color=00cc11&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

<p>Chill Vibes.</p>

<iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/198688654&amp;color=00cc11&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>

<div class="footer">
<p>The Show Lifestyle (c) 2015</p>
</div>
</body>
</html>