<!-- creating do loop for something -->

<% @posts.each do |post| %>
	<h2><%= post.title %></h2>
	<div><%= post.body %></div>
	<br>

	<%= link_to "Read Post", post %>

<% end %>

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

</body>
</html>


<!-- 
< and % and = will print out result ruby code into thee view
< and % will just run the ruby code inside file