<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>Spotlight</title>
		<link rel="stylesheet" type="text/css" href="stylesheet.css">
		<link href="images/hockey%20logo%20black.png" rel="icon" type="image/png" /><!--small website icon logo -->
	</head>
	<body>
		<div class="header">
			<div class="navbar">
				<ul>
				<li><a href="home.html">Home</a></li>
				<li><a href="lifestyle.html">Lifestyle</a></li>
				<li><a href="spotlight.html">Spotlight</a></li>
				<li><a href="backstage.html">Backstage</a></li>
				<li><a href="contact.html">Contact</a></li>
				<li class="last"><a href="about.html">About</a></li>
			</ul>
			</div>
		</div>
		<div class="spotlight">
			<div id="post_1">
				<h2 id="post_title">Under the Spotlight with: Seamus - &quot;Do what you think is best...&quot;</h2>

				<p>April 1st, 201​5</p>

				<p>Seamus is a longtime friend and has always been around. He attends the University
				of Notre Dame where he is studying Political Science and Economics.
				Seamus is currently located in Washington D.C. where he writes briefs on the macroeconomic
				situations of countries or specific industries (manufacturing, energy, etc.) for the
				Export-Import Bank. Over this summer, Seamus will be staying in Washington D.C. where
				he will officially intern in the Office of the United States Trade Representative.</p>

				<p>Seamus deserves to be in the spotlight for his goal-driven personality; he's doing some
				significant work in D.C. and will definitely make a name for himself soon in the political
				world.</p>

				<p>Check out his <a href="https://soundcloud.com/seamuscreedon">Soundcloud</a> where he
				posts monthly playlists for your enjoyment. We got an interview with him to get a dose
				of his lifestyle.</p>

				<hr />
				<table class="post_table">
				<tbody>
					<tr>
						<td class="post_text">
							<p class="question">[Congrats Seamus, you're our first person to be featured
							on our website. I'm gonna ask what you do on a daily basis.]</p>
							
							<p class="answer">&quot;Haha of course, lemme know what you wanna know&quot;</p>
							
							<p class="question">[what time do you wake up?]</p>
							
							<p class="answer">&quot;I wake up at 7:50 if I need to shave, 8:00 if I 
							don't. Now that I'm growing out my beard I wake up at 8 every day and its nice.
							Those extra 10 mins really add up.&quot;</p>
							
							<p class="question">[breakfast is the most important meal, so what do you have
							for breakfast?]</p>

							<p class="answer">&quot;I pretty much always have Honey Nut Cheerios with skim
							milk. I ate Cheerios pretty much every morning growing up too, so it's basically
							habit. On weekends I cook myself two eggs over medium with cheddar cheese mixed
							in and put that on English muffins. I'd rather have that every day, but
							it's really just a question of time. I'd rather sleep the extra 10 minutes.&quot;</p>

							<p class="question">[so you wake up every day around 8, what's your favorite
							daily activity?]</p>

							<p class="answer">&quot;I'd say my daily check of the new music that might've
							popped up overnight. I love going onto <a href="http://hypem.com/popular">Hype
							Machine</a> and seeing what jumped to the most popular charts, and then checking
							my feed to see what my favorite [music] blogs have dug up.</p>

							<p class="answer">I do love doing the same thing with the news, too.
							I just love seeing the <a href="http://www.nytimes.com/">New York Times</a>,
							<a href="http://www.washingtonpost.com/">Washington Post</a>, and
							<a href="http://www.economist.com/">Economist</a>... just completely different
							with all new interesting stories.&quot;</p>

							<p class="question">[what's one thing you wish you had more time for?]</p>

							<p class="answer">&quot;Definitely teaching myself music theory. I made it
							a project over the summer and got to the point where I was memorizing the
							different key signatures and scales but then school came and life got too busy.
							I'm going to try to pick it up again this summer, hopefully with better
							results.&quot;</p>

							<p class="question">[something you're grateful for?]</p>

							<p class="answer">&quot;Very clich&eacute; but definitely my family,
							especially my Mom. Without her I wouldn't have known how to cook my own food
							this semester, hahahaha.&quot;</p>

							<p class="question">[what is one thing everyone should try to incorporate into
							their lifestyle?]</p>

							<p class="answer">&quot;I'd say try to give yourself little things to look
							forward to in the day. Things like the music blog sweep I do every day always
							help me get through work with a positive attitude. Sometimes I'm just pumped
							to get back to my apartment to eat some pasta I made last night or watch West
							Wing. If you keep setting these little rewards ahead of you, I find that they
							build up and at the end of the day you did like 10 things that were pretty
							fun.</p>

							<p class="answer">Everybody's gotta find their own things though. It's not
							gonna be music, pasta and West Wing for everyone.&quot;</p>

							<p class="question">[anything else you'd like the share?]</p>

							<p class="answer">&quot;I'd say it's just really important to keep the focus
							on yourself in your lifestyle. Do what you think is best for you, and the
							people that have been there for you. The people you want as your friends will
							respect you and stay... And maybe if they respect you enough they'll invite
							you to be on their new website.&quot;</p>

						</td>
						<td class="post_other">
							<img alt="" src="/seamus%20licoln%20elephant.jpg" style="width: 469px; height: 428px;" />
							<iframe id="seamus_frame" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/93758269&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" ></iframe>
						</td>
					</tr>
				</tbody>
				</table>
				<hr />
				<p class="centered_text">And that's what Spotlight is about; The Show puts the spotlight on for you to shine.
				Come again next month to see who's on stage next.</p>
			</div>
		</div>
		<div class="footer">
			<p>The Show Lifestyle (c) 2015</p>
		</div>
	</body>
</html>