<!--
Ralph Perricelli
The SHOW Lifestyle 2014
Splash/Main page
-->
<!DOCTYPE html>
<html>
<head>
<link rel="icon" type="image/gif" href="spotlight.gif" />
<title>The SHOW</title>
<meta name="keyword" content="clothing, streetwear, skateboarding, hats">
<meta name="description" content="Official website of the show lifestyle">
<style type="text/css">
        p
        {
        padding-top:250px;
        }
        
        #footer 
        {
        width:800px;
	height: 40px;
	text-align: center;
	font-size: 12px;
	margin: 0 auto;
	padding-top: 225px;
	margin-bottom:5px;
        }
        
        </style>
</head>
<body>

<p></p>
<center>Rome wasnt built in a day.</center>
<center>Neither was our site.</center>
<center>So come back soon, cause were working on it.</center>

<form  align= 'center' action='submitEmail.php' name="email" method='post'>
(Join our mailing List) <input type="text" name="user">
<input type="submit" value="Submit Email">
</form>

<div id="footer"><a href="http://theshowlifestyle.com">H0ME</a> * <a href="backstage.html">BL0G</a> * <a href="lookbook.html">L00kB00k</a> * <a href="contact.html">C0NTACT</a></br>

<footer style="position:fixed; left:0px; right:0px; bottom:1px;
      background:rgb(255,255,255); text-align:center;"><font size="1"><font face="arial"> The SHOW Lifestyle &reg;</font></footer>

</body>
</html>